body {
  font-family: 'Segoe UI', 'Lucida Grande', Tahoma, sans-serif;
  font-size: 100%;
  display: flex;
  justify-content: center;
}

.consent {
  width: 400px;
}

hr {
  border: 1px solid #ddd;
}

h1,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
  font-size: 100%;
}

.button {
  display: inline-block;
  color: #333333;
  padding: 0.5em;
  border-radius: 0.2em;
  background-color: #eee;
  border: 1px solid #ddd;
}

.accept {
  color: #fff;
  background-color: #007ef8;
  border: 1px solid #0073e6;
}

.action-container {
  display: flex;
  gap: 0.5em;
}
