body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 25em;
}

.consent {
  width: 400px;
}

hr {
  border: 1px solid #DDD;
}

a {
  text-decoration: none;
}

h1 {
  margin-bottom: 0px;
}

button {
  cursor: pointer;
  font-size: 100%;
}

.button {
  display: inline-block;
  color: #333333;
  padding: 0.5em;
  margin: 0.5em 0 0.5em 0.5em;
  border-radius: 0.2em;
  background-color: #EEE;
  border: 1px solid #DDD;
}

#status-consent-btn {
  display: none;
}

.accept {
  color: #FFF;
  background-color: #007ef8;
  border: 1px solid #0073e6;
}

#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

.action-container {
  display: flex;
}

/* .action {
  flex: 1;
} */

form {
  margin: 0 0.5em;
}

label {
  font-weight: bold;
}