body {
  font-family: 'Segoe UI', 'Lucida Grande', Tahoma, sans-serif;
}

form div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0.5em;
}

input:invalid {
  border-color: red;
}

#customBrowser {
  display: none;
}
